# Binary output dir
bin/
e2e/bin/

# binary at the top
/multi-networkpolicy-nftables

# GOPATH created by the build script
gopath/

# Editor paths
.swp*
.swo*
.idea*

# Test outputs
*.out
*.test

pods.yaml
policies.yaml
*.nft
*.iptables
*.ip6tables
testbin/

# Agent artifacts
.sisyphus/
/tcflower.test
